name: Build and Release
run-name: Build and Release
on: 
    push:
      branches:
        - main
      
jobs:
    Build:
      if: ${{ !contains(github.event.head_commit.message, '[skip build]') }}
      name: Build and Release
      runs-on: ubuntu-latest

      permissions: 
        contents: write

      steps:
        - name: "Checkout repository"
          uses: actions/checkout@v5
        
        - name: Install uv
          uses: astral-sh/setup-uv@v7
          with:
            enable-cache: true
            cache-dependency-glob: |
                package.py
                pyproject.toml

        - name: Build
          run: uv run package.py build

        - name: Create Github Release
          run: |
            gh release create "$PACKAGE_BUILD_VERSION" \
              ./dist/*.tar.gz \
              ./dist/*.whl \
              --repo="$GITHUB_REPOSITORY" \
              --title="$PACKAGE_BUILD_VERSION" \
              --generate-notes
          env:
            GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

        - name: Push docs to repository.
          run: |
            git config user.name "github-actions[bot]"
            git config user.email "41898282+github-actions[bot]@users.noreply.github.com"
            git add -f docs/*
            git add -f docs/.nojekyll
            git add pyproject.toml
            git commit -F- <<EOF
            [skip build] Commit docs of version $PACKAGE_BUILD_VERSION.
            
            Metrics:
              - Build: $PACKAGE_BUILD_PASSED
              - Test: $PACKAGE_TEST_PASSED
              - Test Coverage: $PACKAGE_TEST_COVERAGE %
              - Doc Coverage: $PACKAGE_DOC_COVERAGE %
              - Vulnerabilities: $PACKAGE_VULNERABILITIES
            EOF
            git push origin
  
        - name: Minimize uv cache
          run: uv cache prune --ci
       
        
